
.info-text {
  text-align: center;
}

mat-paginator {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.shuffle_button_container {
  width: 100%;
  text-align: center;
}

.add_song {
  margin-top: 20px;
}

.selected {
  color: #4156b5;
}

.shuffle {
  width: 40px;
  left: 0;
  right : 0;
  margin: 0 0 30px 0;
}

.spacer {
  flex: 1 1 auto;
}

.shuffle_accordion {
  margin-top: 15px;
}

.search_bar_container {
  width: 100%;
  padding: 30px 0 50px 0;
}

.search_bar {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 8px;
}

.search_bar input {
  border-radius: 50px;
  height: 25px;
  padding: 0 10px 0 10px;
  outline: none;
  background: none;
  border: 3px solid #4156B5;
}

.toggle {
  display: flex;
  width: 20%;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: 14px;
  height: 15px
}

.toggle mat-icon {
  font-size: 23px;
}

.list_container {
  width: 100%;
}

mat-expansion-panel-header :nth-child(3) {
  margin-right: 15px
}

.list {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 425px)  {
  .list {
    width: 90%;
  }
}

::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color:rgba(0,0,0,.38);
}
::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color:white;
}
