
.main_container {
  margin: 80px 0 60px 0;
}


.list_container {
  width: 100%;
}

.list {
  width: 60%;
  margin: 0 auto;
}

.info-text {
  text-align: center;
}

.button_container {
  width: 100%;
  text-align: center;
}

.add_song {
  margin-bottom: 30px;
}

.selected {
  color: #9A241F;
}

.shuffle_button {
  width: 40px;
  left: 0;
  right : 0;
  margin: 0 0 30px 0;
}

@media only screen and (max-width: 1024px)  {
  .list {
    width: 90%;
  }
}

@media only screen and (max-width: 768px)  {
  .list {
    width: 95%;
  }
}


