:host {
  margin-top: 60px;
}


.main_container {
  margin-top: 60px;
}

.info-text {
  text-align: center;
}

.button_container {
  width: 100%;
  text-align: center;
}

.add_song {
  margin-bottom: 30px;
}

.selected {
  color: #f44336;
}

.shuffle {
  width: 40px;
  left: 0;
  right : 0;
  margin: 0 0 30px 0;
}


