<div class="main_container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="isShuffle && !isLoading" class="shuffle_button_container">
    <a class="shuffle" mat-raised-button color="primary" (click)="onShuffle()"
      ><mat-icon> swap_calls</mat-icon></a
    >
  </div>
  <div
    *ngIf="!isShuffle && !isLoading && songs.length"
    class="search_bar_container"
  >
    <a
      class="add_song"
      *ngIf="userIsAdmin && !isShuffle"
      mat-raised-button
      routerLink="/create_song"
      >Ajouter</a
    >
    <div class="search_bar">
      <input
        type="text"
        placeholder="Rechercher"
        [(ngModel)]="term"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="toggle">
      <div>
        <mat-icon [ngClass]="{ selected: !isTitle }">perm_identity</mat-icon>
      </div>
      <mat-slide-toggle
        (change)="onBoxChecked($event, 'title')"
        [checked]="isTitle"
        [disabled]="false"
      >
      </mat-slide-toggle>

      <div>
        <mat-icon [ngClass]="{ selected: isTitle }">audiotrack</mat-icon>
      </div>
    </div>
  </div>

  <app-song
    *ngIf="!isLoading"
    [songs]="songs"
    [userIsAdmin]="userIsAdmin"
    [randomSong]="randomSong"
    [isShuffle]="isShuffle"
    [term]="term"
    [isTitle]="isTitle"
    (emitSongIdToParent)="onDelete($event)"
  ></app-song>

  <p
    class="mat-body-1 info-text"
    *ngIf="!songs.length && !isLoading && !isShuffle"
  >
    Pas de titres dans la setlist...
  </p>
</div>
