<div class="main_container">
  <app-spinner *ngIf="isLoading"></app-spinner>

  <div *ngIf="isShuffle && !isLoading" class="button_container">
    <a class="shuffle_button" mat-raised-button color="primary" (click)="onShuffle()"
      ><mat-icon> swap_calls</mat-icon></a
    >
  </div>

  <div *ngIf="userIsAdmin && !isShuffle && !isLoading" class="button_container">
    <a class="add_song" mat-raised-button routerLink="create">Ajouter</a>
  </div>

  <app-search-bar
    *ngIf="!isShuffle && !isLoading && songs.length"
  ></app-search-bar>

  <app-song
    *ngIf="!isLoading"
    [songs]="songs"
    [userIsAdmin]="userIsAdmin"
    [randomSong]="randomSong"
    [isShuffle]="isShuffle"
    (emitSongIdToParent)="onDelete($event)"
  ></app-song>

  <p
    class="mat-body-1 info-text"
    *ngIf="!songs.length && !isLoading && !isShuffle"
  >
    Pas de titres dans la setlist...
  </p>
</div>
