<div class="container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <mat-card *ngIf="!isLoading">
    <mat-card-title color="primary">
      <div class="title">
        <h3 *ngIf="!isEdit">{{ userPseudo }}</h3>
      </div>
    </mat-card-title>

    <mat-card-actions>
      <form [formGroup]="form" (submit)="onSaveProfile()">
        <mat-form-field *ngIf="isEdit">
          <input
            formControlName="pseudo"
            matInput
            type="text"
            placeholder="Pseudo"
            value="{{ userPseudo }}"
          />
          <mat-error *ngIf="form.get('pseudo').invalid"
            >Veuillez saisir un pseudo de 4 charactères minimum</mat-error
          >
        </mat-form-field>
        <div>
          <button *ngIf="isEdit" mat-raised-button color="accent" type="submit">
            Valider
          </button>
          <span class="spacer"></span>

          <button
            *ngIf="isEdit"
            mat-raised-button
            color="primary"
            (click)="onEdit()"
          >
            Annuler
          </button>
        </div>
      </form>
    </mat-card-actions>
    <h3>Activité</h3>
    <p>
      Post(s) dans la taverne :<span class="postCount">{{ userPosts }}</span>
    </p>
    <br />
    <div class="notifications">
      <h3>Notifications</h3>
      <div>
        <span>Commentaires : &nbsp;</span>
        <mat-checkbox
          (change)="onCheckBoxChange($event.checked, 'comment')"
          [checked]="commentNotif"
          [disabled]="false"
        ></mat-checkbox>
      </div>
      <br />
      <div>
        <span>Posts : &nbsp;</span>
        <mat-checkbox
          (change)="onCheckBoxChange($event.checked, 'post')"
          [checked]="postNotif"
          [disabled]="false"
        ></mat-checkbox>
      </div>
      <br />
      <div>
        <span>Ajouts à la playlist : &nbsp;</span>
        <mat-checkbox
          (change)="onCheckBoxChange($event.checked, 'title')"
          [checked]="titleNotif"
          [disabled]="false"
        ></mat-checkbox>
      </div>
    </div>
    <br />
    <mat-card-actions>
      <div class="action_buttons">
        <button
          *ngIf="!isEdit"
          mat-raised-button
          color="accent"
          (click)="onEdit()"
        >
          Editer
        </button>
        <span class="spacer"></span>
        <button
          *ngIf="!isEdit"
          mat-raised-button
          color="primary"
          (click)="onDelete()"
        >
          supprimer le profil
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
