.container {
  margin: 0 0 60px 0;
}

mat-card {
  margin: 0 auto;
  width: 40%
}

.title {
  width: 100%;
  text-align: center;
}

.action_buttons {
  width: 100%;
  display: flex;
}

.notifications{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notifications div {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.postCount {
  margin-left: 25px;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 1024px)  {
  mat-card {
    width: 80%;
  }
}

.container ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #9a241f !important; /* Red background for example */
}
