<mat-toolbar color="primary">
  <span><a routerLink="/">Home</a></span>
  <span class="spacer"></span>

  <span class="fill-remaining-space"></span>

  <div fxLayout="row" fxHide fxShow.gt-sm>
    <ul>
      <li *ngIf="userIsAdmin">
        <button mat-button>Setlist</button>
      </li>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent"
          >Add a post</a
        >
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="auth/login" routerLinkActive="mat-accent"
          >Login</a
        >
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent"
          >Sign up</a
        >
      </li>
      <li *ngIf="userIsAuth">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu>
  <button *ngIf="userIsAdmin" mat-menu-item>Setlist</button>
  <button *ngIf="userIsAuth" mat-menu-item routerLink="/create" routerLinkActive="mat-accent">Add a post</button>
  <button *ngIf="!userIsAuth" mat-menu-item routerLink="auth/login" routerLinkActive="mat-accent">Login</button>
  <button *ngIf="!userIsAuth" mat-menu-item routerLink="auth/signup" routerLinkActive="mat-accent">Sign up</button>
  <button *ngIf="userIsAuth" mat-menu-item  (click)="onLogout()">Logout</button>
</mat-menu>
