<mat-toolbar color="primary">
  <span><a *ngIf="!userIsAuth" routerLink="/">Home</a></span>
  <span *ngIf="userIsAuth">Home</span>

  <span class="spacer"></span>

  <span class="fill-remaining-space"></span>

  <div fxLayout="row" fxHide fxShow.gt-sm>
    <ul>
      <li *ngIf="userIsAuth">
        <a mat-button  [mat-menu-trigger-for]="subMenuSet"><h4>Playlist</h4></a>

      </li>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="post" routerLinkActive="mat-accent"
          ><h4>Taverne</h4></a
        >
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="auth/login" routerLinkActive="mat-accent"
          ><h4>Login</h4></a
        >
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent"
          ><h4>Sign up</h4></a
        >
      </li>
      <li *ngIf="userIsAuth">
        <a mat-button (click)="onLogout()"><mat-icon class="logout" color="warn">power_settings_new</mat-icon></a>
      </li>
    </ul>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #subMenuSet>
  <button *ngIf="userIsAuth" mat-menu-item routerLink="/song" routerLinkActive="mat-accent">Recherche</button>
  <button *ngIf="userIsAuth" mat-menu-item [routerLink]="['/song', 'shuffle']" routerLinkActive="mat-accent">Shuffle</button>
</mat-menu>
<mat-menu x-position="before" #menu>
  <button *ngIf="userIsAuth" mat-menu-item [mat-menu-trigger-for]="subMenuSet">Playlist</button>
  <button *ngIf="userIsAuth" mat-menu-item routerLink="/post" routerLinkActive="mat-accent">Taverne</button>
  <button *ngIf="!userIsAuth" mat-menu-item routerLink="auth/login" routerLinkActive="mat-accent">Login</button>
  <button *ngIf="!userIsAuth" mat-menu-item routerLink="auth/signup" routerLinkActive="mat-accent">Sign up</button>
  <button *ngIf="userIsAuth" mat-menu-item (click)="onLogout()"><mat-icon color="warn">power_settings_new</mat-icon></button>
</mat-menu>
