mat-card {
  width: 40%;
  margin:50px auto
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.connection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media only screen and (max-width: 425px)  {
  mat-card {
    width: 80%;
  }
  .login {
    margin-bottom: 8px;
  }
}
