<app-spinner *ngIf="isLoading"></app-spinner>

<mat-card *ngIf="!isLoading">
  <form
    (submit)="onSubmit(forgottenPasswordForm)"
    #forgottenPasswordForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        placeholder="Email"
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput">Entrez un mot de passe valide</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button
        *ngIf="!isLoading"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Valider
      </button>
      <button *ngIf="!isLoading" mat-raised-button color="warn" routerLink="/">
        Annuler
      </button>
    </div>
  </form>
</mat-card>
