<div class="global">
  <mat-card>
    <h1>Playlists</h1>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <form *ngIf="!isLoading" [formGroup]="form" (submit)="onSaveTag()">
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="title"
          placeholder="Titre de la playlist"
        />
        <mat-error *ngIf="form.get('title').invalid"
          >Veillez préciser le nom de la playlist</mat-error
        >
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="accent" type="submit">
          Créer
        </button>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" routerLink="/">
          Annuler
        </button>
      </div>
    </form>
  </mat-card>
</div>
