<div class="list_container">
  <div class="list">
    <mat-accordion multi="false" *ngIf="songs.length && !isShuffle">
      <mat-expansion-panel
        class="song"
        *ngFor="let song of songs | filterTitle: term:isTitle"
        #mep="matExpansionPanel"
      >
        <mat-expansion-panel-header
          [(ngClass)]="song.title"
          (click)="onSelect(song.title)"
        >
          <div class="header">
            <div>
              <strong>{{ song.title }}</strong>
            </div>
            <span class="spacer"></span>
            <div>
              {{ song.author }}
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="buttons_container">
          <a mat-raised-button color="primary" (click)="onViewChange('lyrics')"
            >Paroles</a
          >
          <a mat-raised-button color="primary" (click)="onViewChange('tab')"
            >Tablature</a
          >
        </div>
        <div class="song_content">
          <div *ngIf="tab" class="tab">
            <img src="{{ song.tab }}" alt="tab" />
          </div>
          <div *ngIf="lyrics" class="lyrics">
            <div class="text" [innerHTML]="song.lyrics"></div>
          </div>
          <a
            *ngIf="tab || lyrics"
            mat-raised-button
            color="warn"
            (click)="
              onViewChange('close', !mep.expanded); mep.expanded = !mep.expanded
            "
            >Fermer</a
          >
        </div>
        <mat-action-row *ngIf="userIsAdmin && !isShuffle">
          <a
            *ngIf="userIsAdmin && !isShuffle"
            [routerLink]="['edit', song.id]"
            mat-button
            color="primary"
            >Editer</a
          >
          <button
            *ngIf="userIsAdmin && !isShuffle"
            mat-button
            color="warn"
            (click)="onDeleteClick(song.id)"
          >
            Supprimer
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="isShuffle && randomSong" multi="false">
      <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <div class="header">
            <div>
              <strong>{{ randomSong.title }}</strong>
            </div>
            <span class="spacer"></span>
            <div>
              {{ randomSong.author }}
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="buttons_container">
          <a mat-raised-button color="primary" (click)="onViewChange('lyrics')"
            >Paroles</a
          >
          <a mat-raised-button color="primary" (click)="onViewChange('tab')"
            >Tablature</a
          >
        </div>
        <div class="song_content">
          <div *ngIf="tab" class="tab">
            <img src="{{ randomSong.tab }}" alt="tab" />
          </div>
          <div *ngIf="lyrics" class="lyrics">
            <div class="text" [innerHTML]="randomSong.lyrics"></div>
          </div>
          <a
            *ngIf="tab || lyrics"
            mat-raised-button
            color="warn"
            (click)="
              onViewChange('close', !mep.expanded); mep.expanded = !mep.expanded
            "
            >Fermer</a
          >
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
