<mat-expansion-panel [ngClass]="{'isShuffle': isShuffle, 'song': true}">
  <mat-expansion-panel-header (click)="onSongOptions('close', false); onSelect()">
    <div class="header">
      <div>
        <strong>{{ song.title }}</strong>
      </div>
      <span class="spacer"></span>
      <div>
        {{ song.author }}
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="buttons_container">
    <a
      mat-raised-button
      color="accent"
      (click)="onSongOptions('lyrics', !lyrics)"
      >Paroles</a
    >
    <a mat-raised-button color="accent" (click)="onSongOptions('tab', !tab)"
      >Tablature</a
    >
  </div>
  <div class="song_content">
    <div *ngIf="tab" class="tab">
      <img src="{{ song.tab }}" alt="tab" />
    </div>
    <div *ngIf="lyrics" class="lyrics">
      <div class="text" [innerHTML]="song.lyrics"></div>
    </div>
    <a
      *ngIf="tab || lyrics"
      mat-raised-button
      color="warn"
      (click)="onSongOptions('close', false)"
      >Fermer</a
    >
  </div>
  <mat-action-row *ngIf="userIsAdmin && !isShuffle">
    <a
      *ngIf="userIsAdmin"
      [routerLink]="['edit', song.id]"
      mat-button
      color="accent"
      >Editer</a
    >
    <button
      *ngIf="userIsAdmin"
      mat-button
      color="primary"
      (click)="onDeleteClick(song.id)"
    >
      Supprimer
    </button>
  </mat-action-row>
</mat-expansion-panel>
