.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.isShuffle {
  margin-top: 8%;
}

.spacer {
  flex: 1 1 auto;
}

.lyrics {
  margin-bottom: 30px;
  font-size: 1.7em;
  line-height: 1.8;
}

.tab img {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
}

mat-expansion-panel-header :nth-child(3) {
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .lyrics {
    font-size: 1em;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 425px) {
  .spacer {
    flex: none;
  }

  .lyrics {
    font-size: 0.95em;
    line-height: 1.4;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
}
