.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.list_container {
  width: 100%;
}

.lyrics {
  margin-bottom: 30px;
  font-size: 1.7em;
  line-height: 1.8;
}

.list {
  width: 60%;
  margin: 0 auto;
}

.tab img {
  width: 100%
}

.shuffle_accordion {
  margin-top: 15px;
}

.header {
  width: 100%;
  display: flex;
}

.text > .refrain {
  font-weight: bold;
}

mat-expansion-panel-header :nth-child(3) {
  margin-right: 15px
}

@media only screen and (max-width: 1024px)  {
  .list {
    width: 90%;
  }
}

@media only screen and (max-width: 768px)  {
  .list {
    width: 95%;
  }

  .lyrics .text {
    font-size: 1em;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 425px) {
  .spacer {
    flex:none
  }

  .lyrics .text {
    font-size: 0.6em;
    line-height: 1.2;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
}
