<div class="search_bar_container">
  <div class="search_bar">
    <input
      (input)="onChange($event.target.value)"
      type="text"
      placeholder="Rechercher"
    />
  </div>
  <div class="toggle" mat-raised-button color="accent">
    <div>
      <mat-icon [ngClass]="{ selected: !orderBytitle, notSelected: orderBytitle }">perm_identity</mat-icon>
    </div>
    <mat-slide-toggle
      class="searchToggle"
      (change)="onBoxChecked($event.checked)"
      [checked]="orderBytitle"
      [disabled]="false"
    >
    </mat-slide-toggle>

    <div>
      <mat-icon [ngClass]="{ selected: orderBytitle,  notSelected: !orderBytitle }">audiotrack</mat-icon>
    </div>
  </div>
</div>
