@import "~@angular/material/theming";

.selected {
  color: red;
  font-weight: bolder;
  text-shadow: 3px 3px 7px black;
}

.notSelected {
  color: white;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.38);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}

.search_bar_container {
  position: fixed;
  text-align: center;
  width: 300px;
  margin: auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 3;
}

.search_bar {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.search_bar input {
  border-radius: 50px;
  height: 30px;
  padding: 0 10px 0 10px;
  outline: none;
  background: white;
  border: 3px solid rgb(70, 69, 71);
  @include mat-elevation-transition;
  @include mat-elevation(3);

  &:active {
    @include mat-elevation(15);
  }
}

.toggle {
  display: flex;
  width: 25%;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: 14px;
  height: 30px;
}

.toggle mat-icon {
  font-size: 25px;
}

::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .search_bar_container {
    top: 15px;
    width: 220px;
    .search_bar {
      width: 200px;
      padding-bottom: 8px;
      input {
        height: 25px;
      }
    }
    .toggle {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1313px) {
  .search_bar_container {
    top: 15px;
    width: 190px;
    .search_bar {
      width: 180px;
      padding-bottom: 8px;
      input {
        height: 25px;
      }
    }
    .toggle {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .search_bar_container {
    width: 300px;
    .search_bar {
      width: 280px;
    }
  }
}

@media only screen and (max-width: 530px) {
  .search_bar_container {
    top: 15px;
    .search_bar {
      width: 195px;
      padding-bottom: 8px;
      input {
        height: 25px;
      }
    }
    .toggle {
      width: 50%;
    }
  }
}
