@import '~@angular/material/theming';

.selected {
  color: #f44336;
}

.search_bar_container {
  text-align: center;
  width: 100%;
  margin: 0 0 50px 0;
}

.search_bar {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
  padding-bottom: 8px;
}

.search_bar input {
  border-radius: 50px;
  height: 25px;
  padding: 0 10px 0 10px;
  outline: none;
  background: white;
  border: 2.5px solid #3E3C40;
  @include mat-elevation(2);

}

.toggle {
  display: flex;
  width: 20%;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: 14px;
  height: 15px
}

.toggle mat-icon {
  font-size: 23px;
}


::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color:rgba(0,0,0,.38);
}
::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color:white;
}
