.global {
  width: 100%;
  height: 100vh;
}

mat-card {
  width: 40%;
  margin:50px auto
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}



.button_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 425px)  {
  .global {
    height: 100%
  }
  mat-card {
    width: 80%;
  }
}
