.global {
  width: 100%;
}
mat-card {
  width: 40%;
  margin: 60px auto;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.listDisplay{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}


@media only screen and (max-width: 1024px) {
  mat-card {
    width: 80%;
    margin: 0 auto;
  }
}
