html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

main {
  padding-top: 60px;
  width: 100%;
  height: auto;
  background: rgba(0,0,0,.04);
  background-size: cover;
}

app-header {
  position: fixed;
  z-index: 3;
  top:0;
  width: 100%;
}
