
mat-card {
  width: 40%;
  margin: 60px auto;
}

mat-form-field, textarea {
  width: 100%;
}

.image {
  margin-bottom: 10px;
}

.buttons_container {
  margin: auto;
  display: flex;
  justify-content: space-around
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

mat-card-actions {
  width: 100%
}

@media only screen and (max-width: 750px)  {

  mat-card {
    width: 80%;
  }
}
