:host {
  margin-top: 60px;
}

.main_container {
  margin-top: 60px;
}

.info-text {
  text-align: center;
}

.post_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 30px;
}

img {
  width: 70%;
  margin: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.addPost_button_container {
  width: 100%;
  text-align: center;
}

.comments {
  width: 100%;
  display: flex;
}

.header {
  width: 100%;
}

.top_header {
  display: flex;
  justify-content: space-between;
}

.top_header div {
  width: 50%;
}

.top_header :nth-child(2) {
  text-align: end;
}

.bottom_header {
  display: flex;
  justify-content: flex-end;
}

mat-paginator {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.post_container {
  margin: 0 auto;
  width: 60%;
}

.post {
  width: 60%;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.post_card {
  margin: 30px 0 30px 0;
}

.comment_content {
  word-wrap: break-word;
}

.comments_container {
  width: 100%;
  border-top: 1px solid lightgray;
}

@media only screen and (max-width: 1024px) {
  .post_container {
    width: 90%;
  }

  .post-image,
  img {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .post_container {
    width: 95%;
  }

  .post-image,
  img {
    width: 100%;
  }

  .comments {
    display: flex;
    flex-direction: column;
  }

  .comments_buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;

  }

  .comments button {
    width: 40%;
    margin-bottom: 10px;
  }
}
