<div class="main_container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="!isLoading" class="addPost_button_container">
    <a
      class="addPost"
      mat-raised-button
      *ngIf="userIsAuth"
      routerLink="/create_post"
      ><mat-icon> mail_outline</mat-icon></a
    >
  </div>
  <div class="post_container" *ngIf="posts.length && !isLoading">
    <div class="post_card" *ngFor="let post of posts.slice().reverse()">
      <mat-card>
        <mat-card-subtitle>
          <div class="header">
            <div class="top_header">
              <div>
                <strong>{{ post.title }} </strong>
              </div>
              <div>{{ post.creator_pseudo }}</div>
            </div>
            <div class="bottom_header">{{ post.date }}</div>
          </div>
        </mat-card-subtitle>
        <div class="post_image">
          <img
            *ngIf="post.image != null"
            [src]="post.image"
            [alt]="post.title"
          />
        </div>
        <mat-card-content>
          <p>{{ post.content }}</p></mat-card-content
        >
        <mat-card-actions
          ><a
            *ngIf="userIsAuth && userId == post.creator_id"
            [routerLink]="['/edit_post', post.id]"
            mat-button
            color="primary"
            >Editer</a
          >
          <button
            *ngIf="userIsAuth && userId == post.creator_id"
            mat-button
            color="warn"
            (click)="onDelete(post.id)"
          >
            Supprimer
          </button></mat-card-actions
        >
        <mat-card-footer
          ><mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Commentaires <span class="spacer"></span
                >{{ post.comments.length }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card-actions>
              <a
                *ngIf="userIsAuth && !commentInput"
                mat-button
                color="primary"
                (click)="commentInput = true"
                >Commenter</a
              >
              <form
                *ngIf="commentInput"
                [formGroup]="form"
                (submit)="onSaveComment(post.id)"
              >
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    formControlName="comment"
                    placeholder="Entrez votre commentaire"
                  />
                  <mat-error *ngIf="form.get('comment').invalid"
                    >Entrez un commentaire</mat-error
                  >
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                  Poster
                </button>
                <button
                  mat-raised-button
                  color="warn"
                  type="submit"
                  (click)="commentInput = false"
                >
                  annuler
                </button>
              </form>
            </mat-card-actions>
            <div
              class="comments_container"
              *ngFor="let comment of post.comments"
            >
              <p>
                <strong>{{ comment.creator_pseudo }}</strong>
              </p>
              <p class="comment_content">{{ comment.content }}</p>
              <a href="/post"
                ><mat-icon
                  *ngIf="userId === comment.creator_id"
                  color="warn"
                  (click)="onDeleteComment(comment._id, post.id)"
                >
                  cancel</mat-icon
                ></a
              >
            </div>
          </mat-expansion-panel>
        </mat-card-footer>
      </mat-card>
    </div>
    <mat-paginator
      *ngIf="posts.length > 0 && !isLoading"
      [length]="totalPosts"
      [pageSize]="postsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
    ></mat-paginator>
  </div>
  <p class="mat-body-1 info-text" *ngIf="!posts.length && !isLoading">
    Nothing posted yet
  </p>
</div>
