div {
  width: 100%;
  top: 0;
  text-align: center;
  background: white;
}

div
img {
  width: 35%;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 750px)  {
  div
  img {
    margin-top: 50%;
    width: 85%;
  }
}

