div {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: white;
  background-size: cover;
}

div img {
  width: 35%;
  height: auto;
  margin: 10% auto;
}

@media only screen and (max-width: 750px) {
  div img {
    margin: 20% auto;

    width: 85%;
  }
}
