@import "~@angular/material/theming";


div {
  width: 100%;
  text-align: center;
}

div img {
  width: 35%;
  margin: 7% auto;
  border-radius: 15%;

  @include mat-elevation(3);
}

@media only screen and (max-width: 750px) {
  div img {
    margin: 20% auto;
    width: 85%;
  }
}
