div {
  width: 100%;
  text-align: center;
  background: white;
}

div
img {
  margin-top: 80px;
  width: 35%;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 750px)  {
  div
  img {
    width: 85%;
  }
}

