mat-card {
  width: 40%;
  margin: 60px auto;
}

mat-form-field, textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.buttons_container {
  margin: auto;
  display: flex;
  justify-content: space-evenly
}

input[type="file"] {
  visibility: hidden;
}

.buttons_container {
  margin: 0 auto;
  width: 80%;
}

.upload_item_container {
  width: 100%;
  text-align: center;
}

.lyrics {
  height: 100px;
}

.green {
  background-color: rgb(116, 199, 116);
}

@media only screen and (max-width: 1024px)  {
  mat-card {
    width: 80%;
  }
}
