<mat-card *ngIf="!isLoading">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <form [formGroup]="form" (submit)="onSaveSong()">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Titre" />
      <mat-error *ngIf="form.get('title').invalid"
        >Veuillez saisir le titre de la chanson</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="author"
        placeholder="Interprète"
      />

      <mat-error *ngIf="form.get('author').invalid"
        >Veuillez saisir un intereprète</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        class="lyrics"
        matInput
        type="text"
        formControlName="lyrics"
        placeholder="Paroles"
      ></textarea>
      <mat-error *ngIf="form.get('lyrics').invalid"
        >Veuillez saisir des paroles</mat-error
      >
    </mat-form-field>
    <div>
      <div class="upload_item_container">
        <button
          [ngClass]="{ green: form.get('tab').valid }"
          (click)="tabPicker.click()"
          mat-stroked-button
          type="button"
        >
          Tablatures
        </button>
      </div>
      <input type="file" #tabPicker (change)="onTabPicked($event)" />
      <div class="upload_item_container">
        <mat-error *ngIf="tab && form.get('tab').invalid"
          >Jpeg ou png uniquement</mat-error
        >
        <br />
      </div>
    </div>
    <div class="buttons_container">
      <button mat-raised-button color="primary" type="submit">
        Poster
      </button>
      <button mat-raised-button color="warn" routerLink="/post">
        annuler
      </button>
    </div>
  </form>
</mat-card>
