.container {
  position: fixed;
  top : 20vh;
  left: 0;
  right: 0;
}

mat-card {
  width: 40%;
  margin: 0 auto;
}

mat-form-field,
textarea {
  width: 100%;
}

.buttons_container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

input[type="file"] {
  visibility: hidden;
}

.buttons_container {
  margin: 0 auto;
  width: 80%;
}

.upload_item_container {
  width: 100%;
  text-align: center;
}

.question_mark {
  position: absolute;
  right: 0;
}

.lyrics {
  height: 150px;
}

.green {
  background-color: rgb(116, 199, 116);
}

@media only screen and (max-width: 1024px) {
  .container {
    position: relative;
    top: 8vh
  }
  mat-card {
    width: 80%;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    top : 5vh;
  }
}
